- attributes("title") = "404"
- attributes("headline") = "404"
- attributes("page") = "404"

.jumbotron
	h1 404 Page Not Found
	p The page you requested could not be found, either contact your webmaster or try again. Use your browsers Back button to navigate to the page you have prevously come from
