- attributes("title") = "SmartMeal"
- attributes("headline") = "SmartMeal"
- attributes("page") = "meal"

.row 
	.jumbotron
		h1 Meal
		p Plan your meal
	.well
		.row
			.col-md-6
				form.form(action="/meal" method="post")
					.form-group
						label(for="meal") Meal
						select.form-control(name="meal")
							option Breakfast
							option Lunch
							option Dinner
					.form-group
						label(for="course") Main Course
						input.form-control(type="text" name="course" placeholder="Enter Main Course")
					button.btn.btn-default(type="submit") Select