- attributes("title") = "SmartMeal"
- attributes("headline") = "SmartMeal"
- attributes("page") = "meal"

script(src='/dist/js/script.js')
script(src='//code.jquery.com/ui/1.10.3/jquery-ui.js')

.row 
	.jumbotron
		h1 Meal
		p Plan your meal
	.well
		.row
			.col-md-6
				form.form(action="/meal" method="post")
					.form-group
						label(for="course") Breakfast Course
						input.form-control(type="text" id="break" name="break" placeholder="Enter Breakfast Course")
					.form-group
						label(for="course") Lunch Course
						input.form-control(type="text" id="lunch" name="lunch" placeholder="Enter Lunch Course")
					.form-group
						label(for="course") Dinner Course
						input.form-control(type="text" id="dinner" name="dinner" placeholder="Enter Dinner Course")
					button.btn.btn-default(type="submit" id="submit") Select