-@ val title: String
-@ val headline: String = title
-@ val body: String
-@ val page: String

!!! 5
html
	head
		script(src='//code.jquery.com/jquery.js')
		link(href='/dist/css/bootstrap.min.css' rel='stylesheet')
		script(src='/dist/js/bootstrap.min.js')
		link(href='/dist/css/style.css' rel='stylesheet')
		link(href='//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css' rel='stylesheet')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title= "SmartMeal - " + title
	body
		.navbar.navbar-default.navbar-fixed-top.navbar-inverse
			.row
				.col-md-1
				.col-md-10
					a.navbar-brand(href="/") SmartMeal
					ul.nav.navbar-nav
						li(class={if(page=="home") "active" else ""})
							a(href="/home") Home
						li(class={if(page=="your") "active" else ""})
							a(href="/your") Your Page
						li(class={if(page=="meal") "active" else ""})
							a(href="/meal") Meal
				.col-md-1
		#content
			.row
				.col-md-1
				.col-md-10
					!= body
				.col-md-1